@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

@import "./tokens.css";

:root {
  font-family: var(--ui-font-family);
  color: var(--ui-color-text);
  background: transparent;
  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  background: transparent;
}

html.mouse-captured,
html.mouse-captured body,
html.mouse-captured * {
  cursor: none !important;
}
